*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-work:     hsl(15, 100%, 70%);
$color-play:     hsl(195, 74%, 62%);
$color-study:    hsl(348, 100%, 68%);
$color-exercise: hsl(145, 58%, 55%);
$color-social:   hsl(264, 64%, 52%); 
$color-seflcare: hsl(43, 84%, 65%);
$color-dark-blue: hsl(235, 46%, 20%);
$color-font: hsl(236, 100%, 87%);

body {
    display: flex;
    justify-content: center;
    flex-grow: 2;

    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 90%;

    // <!-- menu card -->
    .menu-card {
        background-color: $color-dark-blue;
        border-radius: 10px;
        
        .card-report {
            display: flex;
            background-color: hsl(235, 45%, 61%);
            border-radius: 10px;

            img {
                width: 4.5rem;
                border: 3px solid white;
                border-radius: 100px;
                margin: 2rem;
            }

            .report {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                p {
                    color: $color-font;
                }

                .name {
                    font-size: 1.4rem;
                }
            }
        }

        .card-menu {
            padding: 1.5rem 2rem;
            color: $color-font;
            justify-content: space-between;
            display: flex;

            .menu-link {
                cursor: pointer;
                transition: color 0.2s;

                &:hover {
                    color: white;
                }
            }
            
            .menu-active {
                color: white;
            }
        }
    }

    // <!-- regular card -->
    .color-work { 
        background-color: $color-work;
        background-image: url('img/icon-work.svg');
    }
    .color-play { 
        background-color: $color-play;
        background-image: url('img/icon-play.svg');
    }
    .color-study { 
        background-color: $color-study;
        background-image: url('img/icon-study.svg');
    }
    .color-exercise { 
        background-color: $color-exercise;
        background-image: url('img/icon-exercise.svg');
    }
    .color-social { 
        background-color: $color-social;
        background-image: url('img/icon-social.svg');
    }
    .color-seflcare { 
        background-color: $color-seflcare;
        background-image: url('img/icon-self-care.svg');
    }

    .regular-card {
        background-repeat: no-repeat;
        background-position-x: right;
        border-radius: 10px 10px 20px 20px;

        .property-card {
            margin-top: 3.5rem;
            background-color: $color-dark-blue;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgb(60, 63, 122);
            }

            .row-1 {
                display: flex;
                justify-content: space-between;
                padding: 2rem;

                img {
                    display: block;
                    object-fit: contain;
                }
            }

            .row-2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 1.3rem;

                .hours {
                    font-size: 2.3rem;
                }

                .description {
                    font-size: 0.8rem;
                    color: $color-font;
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {

    .container {
        flex-direction: row;
        flex-wrap: wrap;

        .menu-card {
            flex-basis: 100%;
        }

        .regular-card {
            flex-grow: 1;
            width: 40%;
        }
    }
  }

  @media screen and (min-width: 1000px) {

    .container .regular-card {
        width: 30%;
    }
  }

  @media screen and (min-width: 1400px) {

    .container {
        flex-direction: column;
        flex-wrap: wrap;
        align-content:center;
        margin-top: 20vh;
        max-height: 60vh;

        .card-report {
            flex-direction: column;

            .report {
                margin: 0rem 2rem;
                padding-bottom: 5rem;
            }
        }

        .card-menu {
            flex-direction: column;
            gap: 1rem;
        }

        .menu-card {
            height: 100%;
            max-width: 23%;
        }

        .regular-card {
            max-width: 23%;
        }
    }
  }