
.container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3rem;

    // top
    .head {
        .title {
            .followers {
                font-weight: 700;
                font-size: 1.2rem;
                color: $color-gray;
                margin-top: 2px;
            }
        }

        .line {
            height: 1px;
            display: block;
            border: 0; 
            border-top: 1px solid $color-gray;
            margin-top: 2rem;
            margin-bottom: 1rem; 
            padding: 0;
        }

        .theme-mode {
            margin-top: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .name {
                font-weight: 700;
                font-size: 1.2rem;
                color: $color-gray;
            }

            .toggle {
                .toggle-background {
                    position: relative;
                    background-color: $color-toggle-light;
                    width: 40px;
                    height: 20px;
                    border-radius: 20px;

                    .toggle-circle {
                        width: 16px;
                        height: 16px;
                        border-radius: 100px;
                        position: absolute;
                        top: 50%;
                        right: 2px;
                        transform: translate(0, -50%);
                        background-color: white;
    
                    }
                }
            }
        }
    }

    // main cards
    .main-cards {
        margin-top: 4rem;
        margin-bottom: 4rem;

        .facebook {
            border-top: 5px solid $color-facebook;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .instagram {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top:5px solid transparent;
            background:linear-gradient(45deg,$color-instagram1,$color-instagram2) border-box;        
        }

        .youtube {
            border-top: 5px solid $color-youtube;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .main-card {
            width: 100%;
            margin-top: 2rem;
            background-color: $color-light-grayish-blue;
            border-radius: 5px;
            text-align: center;

            .social {
                margin-top: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .user {
                    color: $color-gray;
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }

            .followers {
                margin-top: 1.5rem;

                .followers-number {
                    font-size: 5rem;
                    font-weight: 700;
                    color: $very-dark-blue;
                }

                .followers-text {
                    text-transform: uppercase;
                    letter-spacing: 0.5rem;
                    color: $color-gray;
                    font-size: 1.2rem;
                }
            }

            .status {
                display: flex;
                margin-top: 2rem;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                padding-bottom: 2rem;

                .text {
                    font-weight: 700;
                    font-size: 1.2rem;
                }

                .text-red {
                    color: $color-bright-red;
                }

                .text-green {
                    color: $color-lime-green;
                }
            }
        }
    }

    .overview {
        color: $color-gray;
        margin-bottom: 3rem;
    }

    .overview-cards {
        margin-bottom: 3rem;

        .overview-card {
            margin-top: 2rem;
            background-color: $color-light-grayish-blue;
            border-radius: 5px;

            .line-1 {
                margin-left: 3rem;
                margin-right: 3rem;
                padding-top: 2.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-weight: 700;
                    font-size: 1.4rem;
                    color: $color-gray;
                }
            }

            .line-2 {
                margin-left: 3rem;
                margin-right: 3rem;
                padding-top: 2.8rem;
                padding-bottom: 1.4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-weight: 700;
                    font-size: 3.3rem;
                }

                .status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.3rem;

                    .text {
                        font-size: 1.2rem;
                    }

                    .text-red {
                        color: $color-bright-red;
                    }
    
                    .text-green {
                        color: $color-lime-green;
                    }
                    
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {

    .container {
        .main-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .main-card {
                flex-grow: 1;
                flex-basis: 33%;
            }
        }

        .overview-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .overview-card {
                flex-grow: 1;
                flex-basis: 33%;
            }
            
        }
    }
  }

  @media screen and (min-width: 1100px) {

    .container {
        .main-cards {
            .main-card {
                flex-basis: 22%;
            }
        }

        .overview-cards {
            .overview-card {
                flex-basis: 22%;
            }    
        }
    }
  }