*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3rem;
}

.container .head .title .followers {
  font-weight: 700;
  font-size: 1.2rem;
  color: #797a81;
  margin-top: 2px;
}

.container .head .line {
  height: 1px;
  display: block;
  border: 0;
  border-top: 1px solid #797a81;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.container .head .theme-mode {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .head .theme-mode .name {
  font-weight: 700;
  font-size: 1.2rem;
  color: #797a81;
}

.container .head .theme-mode .toggle .toggle-background {
  position: relative;
  background-color: #aeb3cb;
  width: 40px;
  height: 20px;
  border-radius: 20px;
}

.container .head .theme-mode .toggle .toggle-background .toggle-circle {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  right: 2px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: white;
}

.container .main-cards {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.container .main-cards .facebook {
  border-top: 5px solid #198ff5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container .main-cards .instagram {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 5px solid transparent;
  background: linear-gradient(45deg, #fdc468, #df4996) border-box;
}

.container .main-cards .youtube {
  border-top: 5px solid #c4032a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container .main-cards .main-card {
  width: 100%;
  margin-top: 2rem;
  background-color: #f0f2fa;
  border-radius: 5px;
  text-align: center;
}

.container .main-cards .main-card .social {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.container .main-cards .main-card .social .user {
  color: #797a81;
  font-weight: 700;
  font-size: 1.2rem;
}

.container .main-cards .main-card .followers {
  margin-top: 1.5rem;
}

.container .main-cards .main-card .followers .followers-number {
  font-size: 5rem;
  font-weight: 700;
  color: #1e202a;
}

.container .main-cards .main-card .followers .followers-text {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #797a81;
  font-size: 1.2rem;
}

.container .main-cards .main-card .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.container .main-cards .main-card .status .text {
  font-weight: 700;
  font-size: 1.2rem;
}

.container .main-cards .main-card .status .text-red {
  color: #dc414c;
}

.container .main-cards .main-card .status .text-green {
  color: #1db489;
}

.container .overview {
  color: #797a81;
  margin-bottom: 3rem;
}

.container .overview-cards {
  margin-bottom: 3rem;
}

.container .overview-cards .overview-card {
  margin-top: 2rem;
  background-color: #f0f2fa;
  border-radius: 5px;
}

.container .overview-cards .overview-card .line-1 {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .overview-cards .overview-card .line-1 p {
  font-weight: 700;
  font-size: 1.4rem;
  color: #797a81;
}

.container .overview-cards .overview-card .line-2 {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 2.8rem;
  padding-bottom: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .overview-cards .overview-card .line-2 p {
  font-weight: 700;
  font-size: 3.3rem;
}

.container .overview-cards .overview-card .line-2 .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
}

.container .overview-cards .overview-card .line-2 .status .text {
  font-size: 1.2rem;
}

.container .overview-cards .overview-card .line-2 .status .text-red {
  color: #dc414c;
}

.container .overview-cards .overview-card .line-2 .status .text-green {
  color: #1db489;
}

@media screen and (min-width: 600px) {
  .container .main-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  .container .main-cards .main-card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .container .overview-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  .container .overview-cards .overview-card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media screen and (min-width: 1100px) {
  .container .main-cards .main-card {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
  .container .overview-cards .overview-card {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
}
/*# sourceMappingURL=style.css.map */