*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: rgb(245, 247, 255);
}


// - Very pale blue: hsl(225, 100%, 98%)
// - Desaturated blue: hsl(224, 23%, 55%)
// - Dark blue: hsl(223, 47%, 23%)

body {
    background-image: url("img/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: rgb(232, 236, 255);
    background-size: cover;

    font-family: 'Red Hat Display', sans-serif;
}

.container {

    // center
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 15px;
    background-color: white;

    .card {
        max-width: 400px;
    }

    .head {
        .img {
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    .body {

        h2 {
            color: rgb(70, 70, 70);
            text-align: center;
            padding-top: 2rem;
            font-weight: 900;
            font-size: 2rem;
        }

        .text {
            color: hsl(224, 23%, 55%);
            padding-top: 1rem;
            text-align: center;
            margin: auto;
            width: 80%;
        }

        .payment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            padding: 1rem;
            border-radius: 15px;
            width: 80%;
            margin: auto;
            margin-top: 1rem;
            background-color: rgb(245, 247, 255);

            .annual p {
                color: hsl(224, 23%, 55%); 
            }

            .link {
                text-decoration: underline;
                color: hsl(245, 75%, 52%);
                cursor: pointer;

                &:hover {
                    color: hsla(245, 75%, 52%, 0.748);
                }
            }
        }

        .btn {
            display: block;
            text-decoration: none;
            text-align: center;
        }

        .proceed {
            background-color: hsl(245, 75%, 52%);
            max-width: 80%;
            margin: auto;
            margin-top: 2rem;
            color: white;
            padding: 1rem 4rem;
            border-radius: 15px;
            box-shadow: 0 0.1rem 1rem hsl(245, 75%, 52%);

            &:hover {
                transform: scale(0.98);
                background-color: hsla(245, 75%, 52%, 0.878);
            }

            &:active {
                transform: scale(0.96);
            }
        }

        .cancel {
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: hsl(224, 23%, 55%);

            &:hover {
                color: black;
            }
        }
    }

    

    
}