.container {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-family: 'Ubuntu', sans-serif;
        border-top-right-radius: 4rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        font-size: 0.7rem;
        background-color: $color-very-dark-black-blue;
        color: $color-grayish-blue;
        text-align: center;

        p {
            color: $color-white;
            font-weight: bold;
        }

        ul {
            margin-top: 1rem;
            li {
                list-style: none;
                margin-bottom: 0.5rem;

                &:hover {
                    color: $color-white;
                    cursor: pointer;
                }
            }
        }
        


    }
}