// Colors - primary
$color-light-red: hsl(356, 100%, 66%); // CTA text
$color-very-light-red: hsl(355, 100%, 74%); // CTA hover background
$color-very-dark-blue: hsl(208, 49%, 24%); // headings
// Colors - neutral
$color-white: hsl(0, 0%, 100%); // text
$color-grayish-blue: hsl(240, 2%, 79%); // footer text
$color-very-dark-grayish-blue: hsl(207, 13%, 34%); // body copy
$color-very-dark-black-blue: hsl(240, 10%, 16%); // footer background
$color-background: hsl(0, 11%, 95%);
$color-phone-background: hsl(235, 22%, 30%);
// Colors - gradinet
$color-very-light-red: hsl(13, 100%, 72%);
$color-light-red: hsl(353, 100%, 62%);

// Fonts - Overpass
// font-family: 'Overpass', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

// Fonts - Ubuntu
// font-family: 'Ubuntu', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

// imports
@import "general";
@import "header";
@import "content";
@import "footer";