// variables
$color-strong-cyan: hsl(172, 67%, 45%);
$color-very-dark-cyan: hsl(183, 100%, 15%);
$color-dark-grayish-cyan1: hsl(186, 14%, 43%);
$color-dark-grayish-cyan2: hsl(184, 14%, 56%);
$color-light-grayish-cyan1: hsl(185, 41%, 84%);
$color-light-grayish-cyan2: hsl(189, 41%, 97%);
$color-white: hsl(0, 0%, 100%);

// imports
@import "general";
@import "calculator";
